body {
  background-color: #A4A5A5;
}

.menu {
  position: relative;
  top: -0px;
  left: 0px;
}

nav a {
    text-decoration:none;
    color:inherit;
    font-size:30x;
    font-family: Calibri;
   
}

nav li{
    display:inline-block;
    cursor: pointer;  /* MARCELO*/
    width:17%;
    margin:5px 10px;
    padding:5px 10px;
    background-color:#000;
    border:3px solid purple;
    text-align:center;
    color:#fff;
    border-radius: 15px; /* Cambié Bordes */
}

nav li:hover {
    background-color:pink;
    border:3px solid grey;
    color:black;
}

.myDivuno {
  position: relative;
  top: -60px;
  left: 0px;
  background-color: #986E8B;
}


.myDivuno p {
     color: black;  
     font-family: Verdana;
     font-size: 100px;
}

.name { color: pink;  
       text-decoration: none;  
}

.namedos { color: orange;  
       text-decoration: none;  
}

.myDivdos {
  position: relative;
  top: -155px;
  left: 0px;
  background-color: #986E8B;
}

.myDivdos p {
     color: black;  
     font-family: Verdana;
     font-size: 100px;  
}

.mail{
       color: pink;  
       text-decoration: none;  
}

.facebook{
      color: pink;  
       text-decoration: none;  
}

.myDivtres img{
  width: 100%;
  height: auto;
  position: relative;
  top: -250px;
  left: 0px;
}

.myDivcuatro {
  margin: 4px;
  padding: 4px;
  float: left;
  height: auto;
  position: relative;
  top: -250px;
  left: -2px;
}

.titulovideo h3 {
  color: #986E8B;
  width: 380px;
  height: auto;
  background-color:pink;
  margin: 8.5px;
  padding: 10px;
  float: left;
  position: relative;
  top: 0px;
  left: -3px;
  border-radius: 30px;
  text-align: center;
 
}

.textovideo p {
  color: #F4FDFD;
  width: 380px;
  height: auto;
  background-color:#986E8B;
  margin: 8.5px;
  padding: 10px;
  float: left;
  position: relative;
  top: 0px;
  left: -3px;
  border-radius: 15px;
  text-align: center;
}

.menudos h4 a {
  width:110px;
  height: auto;
  padding:5px 10px;
  background-color:black;
  border:3px solid purple;
  text-align:center;
  margin: 8.5px;
  float: right;
  position: relative;
  top: -270px;
  right: -3px;
  border-radius: 10px;
  text-align: center;
  text-decoration:none;
  color:white;
  font-size:14px;
  font-family: Calibri;
  display:inline-block;  
}

.menudos a:hover {
    background-color:pink;
    border:3px solid grey;
    color:black;
    }



